
body{background-color: rgb(247, 229, 169);
    text-align: center;
}

.carrosel{
    background-color: grey;
    margin: 0;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

button{
    cursor: pointer;
}

.slideshow{
    position: relative;
    height: 100vh;
}

.slides{
    height: 100%;

}

.slide{
    width: 100%;
    height: 100%;

    display: none;
}

.slide[data-active] {
    display: block;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.previous-button,
.next-button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 56px;
    height: 56px;
    font-size: 32px;
    font-weight: bold;

    color: #fff;
    background: transparent;
    border: 0;
}

.previous-button{
    left: 0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.next-button{
    right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.previous-button:hover,
.next-button:hover{
    background-color: rgba( 0, 0, 0, 0.4);
}